#content {
    margin-top:30px;
    margin-left: 100px;
    border-radius: 2px;
    background:white;
    box-shadow: 0px 2px 5px #ccc;
    padding: 0px;
    overflow: hidden;
}

#header {
    background: #E03137;
    color:white;
    margin: 0px;
    height: 120px;
    line-height: 120px;
}

#header h1 {
    display: block;
    line-height: 120px;
    font-weight: bold;
    font-size: 30px;
}

#nav{
    padding: 20px;
    margin: 0px;
    background: #E74C3C ;
    border: 0px;
}

#nav ul{
    padding: 0px;
    padding-left: 20px;
    list-style: none;
}

#nav ul li {
    float: left;
    margin-right: 20px;
}

#nav ul li a{
    color: white;
    height: 30px;
    display: block;
    line-height:  29px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 300ms; 
}

.activado{
    text-decoration: none !important;
    background: #FF3358 !important;
}

#footer {
    margin-top: 50px;
    border-top: 1px solid #eee;
    padding-top: 15px;
    color: gray;
}

#main img{
    display: block;
    margin: auto;
    margin-top: 20px;
}

#formInbgresarVehiculoMoto{
    float: left;
}

#formInbgresarVehiculoCarro{
    float: left;
}

#formIngresarMoto{
    float: none;
}

#formIngresarCarro{
    float: none;
}

#formIngresarMoto label{
    margin-top:10px;
}

#formIngresarCarro label{
    margin-top:10px;
}